* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {

}
#cabecalho_principal{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center start;
    padding: 10px;
}

#menu_principal {
    width: 500px;
}
#menus {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    list-style: none;
}

#menus li {
    color: white;
    
}

#menus li:hover {
    
}
#conteudo_principal {
    padding: 10px;

    display: grid;

    grid-template-columns: 1.5fr 1fr;
    justify-content: center;
    align-content: center;
    
    gap: 0 10px;
}
.bloco_generico_um{
    background-color: blue;
   
    height: 250px;
}

.bloco_generico_dois{
    background-color: red;
    height: 250px;

}

#cabecalho_principal {
    background-color: #042938;
    height: 90px;
}
#cabecalho_primeiro {
    background-color: #94A8D9;
    width: 99.1vw;
    padding: 10px;

    display: grid;

    justify-content: center;
    font-size: 30px;
    color: white;
}



#cabecalho_segundo {
    width: 99.1vw;
    background-color: #94A8D9;
    padding: 10px;

    display: grid;

    justify-content: center;
    font-size: 30px;
    color: white;
}


#segundo {
    width: 50vw;
    padding: 10px;
    display: grid;


    justify-items: center;
    align-items: center;

}

#cabecalho_terceiro {
    width: 99.1vw;
    background-color: #94A8D9;
    padding: 10px;

    display: grid;

    justify-content: center;
    font-size: 30px;
    color: white;
}

#terceiro {
    width: 50vw;
    padding: 10px;
    display: grid;


    justify-items: center;
    align-items: center;
}

#cabecalho_quatro {
    width: 99.1vw;
    background-color: #94A8D9;
    padding: 10px;

    display: grid;

    justify-content: center;
    font-size: 30px;
    color: white;
}

#quatro {
    width: 50vw;
    padding: 50px;
    display: grid;


    justify-items: center;
    align-items: center;
}

#tabela {
    border: 1px solid #c3e2f5;
    background-color: #e5f2fa;
    border-collapse: collapse;
}

#tabela tr,
td {
    border: 1px solid #c3e2f5;
    padding: 5px;
}
.links {
    color: black;
    text-decoration: none;
}

.perfis {
    color: #387b96;
}